@charset 'UTF-8';
@import 'reset';

$fontStack: 'Open Sans', Arial, sans-serif;
$header: 'Rock Salt', serif;
$handwriting: 'Gloria Hallelujah', 'Open Sans', Arial, sans-serif;
$mainGray:#202020;
$accentOrange: #F4A854;
$accentBlue: #2F96EC;
$accentPink: #FF0074;
$gridBorder: 1px dashed #ffffff;
$mobilePadding:20px;


/** GENERAL STYLES **/

body * {
	color:#ffffff;
	font-weight:300;
}
body, input, button {
	font-family:$fontStack;
}
a:focus, a:hover, .current, a.current:focus, a.current:hover {
	color:$accentBlue;
}
a:active, .nav-main > a:focus, .nav-main > a:hover {
	color:$accentPink;
}
%message, .logo:active, .nav-main > a:active, .header-sub, .header-sm, .header-job, .highlight {
	color:$accentOrange;
}
.message-error {
	color:red;
}
%wrapper, .nav-main > a, .logo, .grid, .header-lg, .box-center, .box-center > p, button {
	text-align:center;
}
.logo > a, .nav-main > a, %tabs > a, .link-back {
	text-decoration:none;
}
p, li {
	line-height:1.7em;
}
.clearfix:after{
	content: ""; 
	display:table; 
	clear:both;
}
.captcha, .link-gen, .thumbnail {
	display:block;
}
%social, .header-social, .grid, {
	display:inline-block;
}
.nav-main, .button-close {
	display:none;
}
.button-close-slide, .slide > p {
	float:right;
}
%center {
	margin-left:auto;
	margin-right:auto;
}
.header-styled, .box-work {
	width:100%;
}
li {
	list-style-type:disc;
	margin-left:40px;
}
p, ul, .logo, .header-md, .box-content {
	margin-bottom:20px;
}
.box-work > .header-job, .box-work > p {
	margin-bottom:0;
}
.box-work > .header-job {
	margin-top:0;
}
body, %wrapper, %box-icon {
	@extend %center;
}
.link-gen {
	clear:both;
	margin-top:40px;
	padding-bottom:12px;
}
body {
	background:$mainGray;
	min-width:320px;
	font-size:15px;
}
.header-styled:focus, input {
	background:$accentBlue;
}
.button-menu:focus, .button-close:focus, .button-close-slide:focus, .button-close-slide:hover {
	border:1px solid $accentBlue;
}
.button-menu:active, .button-close:active, .button-close-slide:active {
	border:1px solid $accentPink;
}

/** TEXT STYLES **/

.current {
	margin-left:-20px;
}
.current:before {
	content:'>> ';
}
.logo {
	margin-top:25px;
	font-family:Raleway, Arial, sans-serif;
	font-size:2em;
	text-transform:uppercase;
}
.header-lg, .header-sm {
	font-family:$header;
}
.header-md, .header-sm, .header-sub {
	line-height:1.6em;
}
.header-lg {
	margin-top:70px;
	margin-bottom:40px;
	font-size:2em;
}
.header-md {
	font-size:1.1em;
}
.header-sub {
	margin-top:40px;
	margin-bottom:40px;
	font-size:1.6em;
}
.header-social {
	@extend .header-sm;
	vertical-align:top;
	margin-right:8px;
	padding-top:5px;
}
.header-social:after {
	content:" - ";
}
%effect-textshadow {
	font-weight:700;
	text-shadow:1px 1px 2px rgba(0,0,0,0.7);
}
.header-styled {
	@extend %effect-textshadow;
	background:$accentOrange;
	margin-top:50px;
	margin-bottom:30px;
	padding:2px $mobilePadding;
	font-family:$header;
	line-height:1.8em;
	text-align:right;
}
.header-job {
	margin-top:30px;
	margin-bottom:8px;
	font-size:1.2em;
	line-height:1.4em;
}
.message-success {
	@extend %message;
}

/** LINK STYLES **/
a {
	color:$accentOrange;
}
.nav-main > a {
	background:#000000;
	display:block;
	padding:15px 8px;
	border-top:1px solid $mainGray;
}
.link-back {
	display:block;
	clear:both;
	float:left
}

/* BUTTON STYLES */
%button {
	cursor:pointer;
}
.button-menu, .button-close, .button-close-slide, .grid, button {
	@extend %button;
}
.button-menu, .button-close-slide {
	width:1.7em;
}
.button-close {
	width:1.5em;
}
.button-menu, .button-close {
	margin-bottom:10px;
}
button:focus, button:hover {
	background: $accentPink;
}
button:active {
	background:none;
	color:$accentPink;
}
button {
	width:6em;
	border:1px solid white;	
	border-radius:2px;
	padding:5px;
}
button[type="submit"], .print {
	margin-right:10px;
}


/** IMAGE STYLES **/
%box-icon {
	@extend %button;
	background:url(../img/icon-sprites.png);
	background-size:125px;
	width:25px;
	height:25px;
	margin-bottom:2em;	
}
.box-icon-mobile, .box-icon-weblayout, .box-icon-ux, .box-icon-notepad, .box-icon-smiley, .box-icon-weblink, .box-icon-pencil, .box-icon-heart, .box-icon-type {
	@extend %box-icon;
}
.box-icon-weblayout {
	background-position:-25px 0;
}
.box-icon-ux {
	background-position:-50px 0;
}
.box-icon-notepad {
	background-position:-75px 0;
}
.box-icon-smiley {
	background-position:-100px 0;
}
.box-icon-weblink {
	background-position:0px -25px;
}
.box-icon-pencil {
	background-position:-25px -25px;
}
.box-icon-heart {
	background-position:-50px -25px;
}
.box-icon-type {
	background-position:-75px -25px;
}
.img-uparrow {
	@extend %button;
	display:none;
	width:3em;
	position:fixed;
	right:8px;
	bottom:8px;
	float:right;
}
%social {
	background:url('../img/social-sprites.png');
	background-size:75px;
	width:38px;
	height:38px;
}
.icon-linkedin, .icon-twitter {
	@extend %social;
}
.icon-linkedin {
	margin-right:3px;
}
.icon-twitter {
	background-position: -38px 0;
}
.thumbnail {
	@extend %center;
	width:80%;
	margin-bottom:20px;
}
.img-pf {
	width:100%;
}


/** MAIN CONTENT STYLES **/
.indent {
	margin-left:20px;
}
.header {
	background:#000000;
	border-bottom:4px solid $accentOrange;
}
%wrapper {
	overflow:hidden;
	}
.wrapper-header, .wrapper-main, #wrapper-main-home {
	@extend %wrapper;
}
.wrapper-main, #wrapper-main-home {
	margin-bottom:50px;
}
.wrapper-header {
	margin-bottom:0;
	padding-top:20px 0 0;
}
.wrapper-main {
	padding-left:$mobilePadding;
	padding-right:$mobilePadding;
}
#wrapper-main-home {
	margin-top:25px;
	margin-left:10px;
	margin-right:10px;
}
.flexbox {
	display:flex;
	box-orient:horizontal;
	flex-wrap:wrap;
	justify-content:space-between;
}
.flexbox-pfwebsites {
	justify-content:space-around;
}
.flexbox > p {
	margin:auto;
}
.box-center {
	margin-top:30px;
}
.box-websiteimg {
	width:100%;
}
.box-mobileimg {
	width:60%;
}
#box-social {
	margin-bottom:60px;
}
.box-contact-btns {
	margin-left:28%;
}
%tabs {
	color:$accentOrange;
}
.tabs-resume {
	@extend %tabs;
	margin-top:30px;
}
.section-grid {
	width:100%;
}
.row:first-child, .row:nth-child(2) {
	border-bottom:$gridBorder;
}
.grid:not(:last-child) {
	border-right:$gridBorder;
}
.grid {
	width:32.4%;
	padding:30px 10px;
	font-size:0.8em;
	text-transform:uppercase;
}
// Homepage grid workaround, prevent other grid slide outs
.overlay {
	@extend %button;
	display:block;
	width:100%;
	height:365px;
	margin-top:-365px;
}
// Prevent slide for contact link
#grid-contact {
	@extend .grid;
}

%box-hidden {
	position:absolute;
	display:block;
	width:300px;
	height:365px;
	margin-top:-365px;
	margin-left:-325px;
	padding:10px;
	border:1px solid #ffffff;
}
.slide {
	@extend %box-hidden;
}
.slide > p {
	width:70%;
	margin-top:100px;
	padding-right:15px;
	text-align:right;
}
.list-nobull > li {
	margin-left:0;
	list-style-type:none;
}

/* Form Styles */
input:focus {
	outline:1px solid #ffffff;
	box-shadow: 0 0 10px #ffffff;
}
input {
	width: 70%;
	max-width:375px;
}
input {
	float:left;
	margin-bottom:30px;
	padding:10px;
	color:#000000;
	font-weight:500;
	line-height:1.3em;
}
.catpcha {
	float:left;
}
#human {
	width:100%;
}
textarea {
	@extend input;
	height:150px;
}
label {
	@extend %effect-textshadow;
	background:$accentOrange;
	float:left;
	clear:left;
	width:28%;
	margin-left:-$mobilePadding;
	margin-right:1.2em;
	padding:7px 10px 7px $mobilePadding;
	font-size:0.9em;
	text-align:right;
}
@mixin placeholderStyle($font, $color, $fSize) {
	::-webkit-input-placeholder {
	   	color: $color;
	   	font-family: $font;
	   	font-size: $fSize;
	}

	:-moz-placeholder { /* Firefox 18- */
   		color: $color;
   		font-family: $font;
   		font-size: $fSize;
	}

	::-moz-placeholder {  /* Firefox 19+ */
   		color: $color;
   		font-family: $font;
   		font-size: $fSize;
	}

	:-ms-input-placeholder {  
   		color: $color;
   		font-family: $font;
   		font-size: $fSize;
	}
}
#contact-form {
	@include placeholderStyle($handwriting, #205d8e, 1em);
}

/** ANIMATIONS **/

/* Function - Animation Properties */

@mixin Animation($name, $duration, $timing, $iteration, $delay) {
	-webkit-animation: $name $duration $timing $iteration;
	-webkit-animation-delay: $delay;
	animation-name: $name;
	animation-duration: $duration;
	animation-timing-function: $timing;
	animation-iteration-count: $iteration;
	animation-delay: $delay;
} // Must be before mixin include

/* Button hover - Demonstrating hover effects using css animations and mixins */

button:hover {
	@include Animation(buttonHover, 0.4s, ease-in-out, 1, no);
	background:#accentPink; //Must come after animation declaration
}
@mixin backgroundChange ($color) {

	from {
		background:none;
	}
	to {
		background:$color;
	}

}
@-webkit-keyframes buttonHover {
	@include backgroundChange($accentPink);
}
@keyframes buttonHover {
	@include backgroundChange($accentPink);
}

/* Twirl - Rotate 3D */

%box-icon:hover {
	@include Animation(Twirl, 1.8s, ease-in-out, 1, no);	
}
@mixin RotateOnY {
	
	from {
		-webkit-transform:rotateY(0);
		transform:rotateY(0);
	}
	to {
		-webkit-transform:rotateY(360deg);
		transform:rotateY(360deg);
	}
}
@-webkit-keyframes Twirl {
	@include RotateOnY;
}
@keyframes Twirl {
	@include RotateOnY;
}

/* Spin Effect */

.icon-twitter {
	@include Animation(Spin, 1s, ease-in-out, 2, 1s);
}
.icon-twitter:focus, .icon-twitter:hover {
	@include Animation(Spin, 0.9s, ease-in-out, infinite, no);
}
@mixin Rotation {

	from {
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	to {
		-ms-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}

}
@-webkit-keyframes Spin {
	@include Rotation;
}
@keyframes Spin {
	@include Rotation;
}

/* Bounce Effect */

.box-icon-smiley {
	@include Animation(Bounce, 1s, ease-in-out, 5, 1s);
}
.icon-linkedin {
	@include Animation(Bounce, 1s, ease-in-out, 3, 2.5s);
}
.icon-linkedin:focus, .icon-linkedin:hover {
	@include Animation(Bounce, 1s, ease-in-out, infinite, no);
}
@mixin moveUpDown {
	
	from {
		transform:translateY(0);
	}
	25% {
		transform:translateY(-3px);
	}
	50% {
		transform:translateY(0px);
	}
	75% {
		transform:translateY(-6px);
	}
	to {
		transform:translateY(0);
	}

}
@-webkit-keyframes Bounce {
	@include moveUpDown;
}
@keyframes Bounce {
	@include moveUpDown;
}


/** MEDIA QUERIES **/

@media screen and (min-width:500px) {
	.flexbox {
		justify-content:space-around;
	}
	.thumbnail {
		width:155px;
	}
}

@media screen and (min-width:768px) {
	.col-twothird, %aside-sidebar, .box-websiteimg, .box-mobileimg {
		float:left;
	}
	.header-interests, label {
		margin-left:0;
		padding-left:8px;
	}
	.logo, .header-lg {
		text-align:left;
	}
	.button-menu, .button-close {
		float:right;
		margin-top:25px;
	}
	.box-contact-btns {
		margin-left:0;
	}
	.box-websiteimg, .box-mobileimg {
		display:block;
	}
	.box-websiteimg {
		width:64%;
		margin-right:20px;
	}
	.box-mobileimg {
		width:30%;
	}
	%wrapper, .col-twothird {
		width:60%;
	}
	.col-twothird, %aside-sidebar {
		display:inline-block;
	}
	.current:before {
		content:"";
	}
	%wrapper {
		max-width:700px;
	}
	.wrapper-main, #wrapper-main-home {
		padding-left:0;
		padding-right:0;
	}
	#wrapper-main-home {
		margin-left:auto;
		margin-right:auto;
	}
	.logo {
		float:left;
		font-size:1.8em;
	}
	.header-social {
		display:block;
		margin-bottom:12px;
		text-align:right;
	}
	.header-social:after {
		content:"";
	}
	.link-gen {
		text-align:right;
	}
	.nav-main {
		float:right;
		clear:both;
	}
	.nav-main > a {
		display:inline-block;
		margin-left:10px;
		margin-bottom:15px;
		padding:5px;
		border:none;
	}
	%aside-sidebar {
		width:27%;
		margin-right:40px;
		text-align:right;
	}
	.aside-rtext {
		@extend %aside-sidebar;
	}
	.aside-rtext > * {
		text-align:right;
	}
	input,.catpcha {
		clear:left;
	}
	textarea {
		width:100%;
		max-width:450px;
	}
	label {
		width:28%;
		min-width:85px;
		max-width:95px;
		margin-bottom:10px;
		font-size:1em;
		text-align:left;
	}
}

@media screen and (min-width:1039px) {
	.box-work {
		width:50%;
	}
	.box-work-right {
		float:right;
	}
	.box-work-right > p {
		text-align:right;
	}
}

@media print {
	.print-remove {
		display:none;
	}
	.header {
		padding-bottom:0;
	}
	.header-styled {
		margin-top:15px;
		font-size:14pt;
		text-align:center;
	}
	.header-job {
		font-size:10pt;
	}
	%wrapper {
		margin-bottom:0;
	}
	ul > li {
		margin-left:0;
	}
	.box-work {
		width:50%;
	}
	.box-work-right {
		float:right;
	}
	.box-work-right > p {
		text-align:right;
	}
	.img-uparrow {
		display:none !important;
	}
}